html, body, #container {
	height: 100%;
	font-size: 12pt;
}

body > #container {
	height:auto;
	min-height:100%;
}

#data_table, #graph {
	font-size:8pt;
}
#tables {
	margin:10px;
}

#graph{
	margin:10px;
}
#config {
	margin:10px;
}
#dates_form {
	
}
#dates_form input{
	width:100px;
}

footer {
}



.dash_container {
	margin: 8px;
	padding:10px;
}